In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

display(data.sample(5))
data.info()
# display(z, data.genres,data.head(), a)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
187,tt0458481,65000000,39407616,Sin City: A Dame to Kill For,Mickey Rourke|Jessica Alba|Josh Brolin|Joseph ...,Frank Miller|Robert Rodriguez,There is no justice without sin.,Some of Sin City's most hard-boiled citizens c...,102,Crime|Thriller,Miramax Films|Troublemaker Studios|AR Films|Al...,8/20/2014,6.2,2014
846,tt1604171,8000000,10130000,Prom,Aimee Teegarden|Thomas McDonell|Nicholas Braun...,Joe Nussbaum,"There are hundreds of nights in high school, b...","At â€œProm,â€ every couple has a story and no ...",104,Comedy,Walt Disney Pictures|Rickshaw Productions,4/29/2011,5.8,2011
387,tt1243957,100000000,278346189,The Tourist,Johnny Depp|Angelina Jolie|Paul Bettany|Timoth...,Florian Henckel von Donnersmarck,It all started when he met a woman,American tourist Frank (Johnny Depp) meets mys...,103,Action|Thriller|Romance,Spyglass Entertainment|Peninsula Films|StudioC...,12/8/2010,6.0,2010
1145,tt0301470,17000000,63102666,Jeepers Creepers 2,Ray Wise|Jonathan Breck|Garikayi Mutambirwa|Er...,Victor Salva,He can taste your fear.,After 23 horrifying days of gorging on human f...,104,Horror|Thriller,United Artists|American Zoetrope|Myriad Pictur...,8/8/2003,5.4,2003
738,tt1632708,35000000,150483765,Friends with Benefits,Justin Timberlake|Mila Kunis|Patricia Clarkson...,Will Gluck,Some friends come with a happy ending.,While trying to avoid the clichÃ©s of Hollywoo...,109,Comedy,Castle Rock Entertainment|Screen Gems|Olive Br...,7/21/2011,6.5,2011

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data["profit"] = data.revenue-data.budget

genreslist = pd.DataFrame(data.genres.str.split('|'))
genreslist

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

                                              genres
0     [Action, Adventure, Science Fiction, Thriller]
1     [Action, Adventure, Science Fiction, Thriller]
2             [Adventure, Science Fiction, Thriller]
3      [Action, Adventure, Science Fiction, Fantasy]
4                          [Action, Crime, Thriller]
...                                              ...
1884            [Adventure, Action, Science Fiction]
1885                       [Horror, Family, Foreign]
1886  [Adventure, Animation, Action, Comedy, Family]
1887                                 [Comedy, Drama]
1888                                      [Thriller]

[1889 rows x 1 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['0'] = '1. Pirates of the Caribbean: On Stranger Tides(tt1298650)'

In [213]:
# Решениe с фильтрацией:

max_budget = data[["original_title", "imdb_id"]
                  ][data.budget == data.budget.max()]

ВАРИАНТ 2

In [214]:
# Решение через Query

# тут пишем ваш код для решения данного вопроса:
max_budget = data.query('budget==budget.max()')[["original_title", "imdb_id"]]
max_budget

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# самый длинный фильм
answers['1'] = "2. Gods and Generals(tt0279111)"

In [215]:
longest_film = data[["original_title", "imdb_id"]
                    ][data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['2'] = "3. Winnie the Pooh(tt1449283)"

In [216]:
shortest_film = data[["original_title", "imdb_id"]
                     ][data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [12]:
answers['3'] = "4. 110"

In [217]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['4'] = "5. 107"

In [218]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['5'] = '6. Avatar (tt0499549)'

In [219]:
top_grosser = data[["original_title", "imdb_id"]
                   ][data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [18]:
answers['6'] = '7. The Lone Ranger(tt1210819)'

In [220]:
top_lossmaker = data[["original_title", "imdb_id"]
                     ][data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['7'] = '8. 1478'

In [221]:
profit_generators = len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['8'] = '9. The Dark Knight(tt0468569)'

In [222]:
films2008 = data.query('release_year==2008').query('profit==profit.max()')

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['9'] = '10.The Lone Ranger(tt1210819)'

In [223]:
top_lossmakers_12_14 = data.query(
    '2012<= release_year <=2014').query('profit==profit.min()')
top_lossmakers_12_14

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,word_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,68

# 11. Какого жанра фильмов больше всего?

In [225]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['10'] = '11. Drama'

In [227]:
genres_frequency = pd.DataFrame(data.genres.str.split('|').
                                tolist()).stack().value_counts().idxmax()

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['11'] = '12. Drama'

In [228]:
genres = data[data['profit'] > 0]['genres']


top_grossing_genres = genres.str.split(
    '|', expand=True).stack().value_counts().idxmax()
top_grossing_genres

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['12'] = '13. Peter Jackson'

In [229]:
data.groupby('director')["profit"].sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [230]:
answers['13'] = '14. Robert Rodriguez'

In [231]:
action_director = data[data.genres.str.contains('Action')]
director_list = pd.DataFrame(action_director.director.str.split('|')
                             .tolist()).stack().value_counts().idxmax()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [46]:
answers['14'] = '15. Chris Hemsworth'

In [98]:
films2002 = data.query('release_year==2012')
actorlist = films2002.cast.str.split('|', expand=True).stack().unique()
sumprofitmax = 0
for i in actorlist:
    c = films2002[films2002.cast.str.contains(i)].revenue.sum()
    if c <= sumprofitmax:
        continue
    else:
        sumprofitmax = c
        bmax = i
print(sumprofitmax, bmax)

2027450773 Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [232]:
answers['15'] = '16. Matt Damon'

In [173]:
hbfilmsqty = 0  # Инициализация счётчика фильмов и переменной самогго успешного актёра
hbactor = 0
hbdata = data[data.budget > data.budget.mean()]

actorlist = hbdata.cast.str.cat(sep='|').split('|')

for actor in actorlist:  # перебор актёров в созданном списке актёров
    actorhbf = len(hbdata[hbdata.cast.          # количество высокобюджетных фильмов
                          str.contains(actor)])  # у этого актёра
    if hbfilmsqty > actorhbf:
        continue
    else:
        hbactor = actor  # лидер на момент итерации
        hbfilmsqty = actorhbf  # количество фильмов в которых он снялся

print(hbactor)

Matt Damon

Вариант №2

In [233]:
def counter(hbf, cast):
    data_plot = pd.DataFrame(hbf[cast].str.split('|')
                             .tolist()).stack().value_counts()
    return data_plot


sum_gen = counter(data[data['budget'] > data['budget'].mean()], 'cast')
sum_gen.idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [234]:
answers['16'] = '17. Action'

In [81]:
datanc = data[data.cast.str.contains('Nicolas Cage')]
pd.DataFrame(datanc.genres.str.split('|').tolist()
             ).stack().value_counts().idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [235]:
answers['17'] = '18. K-19: The Widowmaker'

In [194]:
para_worst = data[data.production_companies.str.contains('Paramount Pictures')]
para_worst = para_worst.original_title[para_worst.profit ==
                                       para_worst.profit.min()]
para_worst

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [236]:
answers['18'] = '19. 2015'

In [237]:
bestyear = data.groupby('release_year').profit.sum()
bestyear[bestyear == bestyear.max()].index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [238]:
answers['19'] = '20. 2014'

In [239]:
goodyear = data[data.production_companies.str.
                contains('Warner Bros')].groupby('release_year').profit.sum()

goodyear[goodyear == goodyear.max()].index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [240]:
answers['20'] = '21. 9'

In [197]:
most_proliferous_month = data.release_date.str.split(
    "/").str.get(0).value_counts().idxmax()
most_proliferous_month

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [241]:
answers['21'] = '22. 450'

In [282]:
a = data.release_date.str.split("/").str.get(0).value_counts().reset_index()

a.columns = ['month', 'release_date']

a.release_date[(a.month.astype(int) < 9) & (
    a.month.astype(int) > 5)].values.sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [242]:
answers['22'] = '23. Peter Jackson'

In [284]:
data['month'] = data.release_date.str.split("/").str.get(0)

winter_films_leader = data[(data.month.astype(int) < 3) |
                           (data.month.astype(int) > 11)].director.value_counts().idxmax()

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [243]:
answers['23'] = '24. Four By Two Productions'

In [244]:
studio = pd.DataFrame(data.production_companies.str.split(
    "|").tolist()).stack().unique()  # создаём список студий

# создаём признак количества символов в названии
data["simbolcount"] = data.original_title.str.len()

# инициализируем
amax = 0
company = 0

# ищем компанию у которой в среднем самые длинные (в символах) названия
for i in studio:
    a = data[data.production_companies.str.contains(i)].simbolcount.mean()
    if a > amax:
        amax = a
        company = i
    else:
        continue
display(company)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [206]:
answers['24'] = '25. Midnight Picture Show'

In [245]:
studio = pd.DataFrame(data.production_companies.str.split(
    "|").tolist()).stack().unique()  # создаём список студий

# создаём признак количества слов в названии
data["word_count"] = data['overview'].str.split().str.len()

# инициализируем
amax = 0
company = 0

# ищем самую многословную в названиях компанию, находя максимальное из средних количеств слов
for k in studio:
    a = data.groupby(data.production_companies.str.contains(k)
                     ).word_count.mean().max()
    if a > amax:
        amax = a
        company = k
    else:
        continue

display(company)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [211]:
answers['25'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [254]:
data[data.vote_average > data.vote_average.quantile(.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,word_count,simbolcount
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,112,10
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,49,4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,35,12
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,28,23
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,46,18
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,30,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,66,24
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,44,9
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,67,15
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,39,11
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,29,23
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,61,16
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,78,7

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [209]:
answers['26'] = '27. Daniel Radcliffe Rupert Grint'

# лучше чем нашёл на слаке у Gosha_chikurov, не получилось поэтому воспроизвыожу его решение

In [261]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list = []
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts()

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Emma Watson Rupert Grint            8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
                                   ..
Cliff Curtis Rose Byrne             1
Matt O'Leary Matthew McConaughey    1
Angelina Jolie Johnny Depp          1
AndrÃ© Benjamin John Travolta       1
Daniel Tay Will Ferrell             1
Name: actor_combinations, Length: 17943, dtype: int64

ВАРИАНТ 2

# Submission

In [212]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'0': '1. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '1': '2. Gods and Generals(tt0279111)',
 '2': '3. Winnie the Pooh(tt1449283)',
 '3': '4. 110',
 '4': '5. 107',
 '5': '6. Avatar (tt0499549)',
 '6': '7. The Lone Ranger(tt1210819)',
 '7': '8. 1478',
 '8': '9. The Dark Knight(tt0468569)',
 '9': '10.The Lone Ranger(tt1210819)',
 '10': '11. Drama',
 '11': '12. Drama',
 '12': '13. Peter Jackson',
 '13': '14. Robert Rodriguez',
 '14': '15. Chris Hemsworth',
 '22': '23. Peter Jackson',
 '20': '21. 9',
 '18': '19. 2015',
 '17': '18. K-19: The Widowmaker',
 '19': '20. 2014',
 '21': '22. 450',
 '23': '24. Four By Two Productions',
 '24': '25. Midnight Picture Show',
 '25': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '26': '27. Daniel Radcliffe Rupert Grint'}

In [294]:
# и убедиться что ни чего не пропустил)
len(answers)

27